<div class="header">
	<h1 class="logo"><span class="legacy">Legacy</span></br> Revelations</h1>
	<div id="region-main-menu"></div>
</div>
<div id="region-legacy-character-select"></div>
<div id="region-update-menu" class="hide"></div>
<a href="#" class="btn btn-show is-hidden">Show</a>