//
// Page: Home
// ---------------------------
.legacy-character-select {
	margin: 7em auto 0;
	padding: 1em;
	width: 400px;
	text-align: center;
	background: $black;
	box-shadow: inset 1px 1px 20px #000;
	.character-list {
		padding: 1.5em;
		background: darken($black, 10%);
		display: inline-block;
	}
	li {
		display: inline-block;
		margin-right: 1.5em;
		position: relative;
		&:last-child {
			margin-right: 0;
		}
		p {
			background: rgba($black, 0.7);
			position: absolute;
			bottom: 0;
			padding: .5em 0;
			width: 100%;
			margin: 0;
		}
		img {
			width: 100px;
		}
		a {
			@extend %spread;
		}
	}
}