//
// 768 Breakpoint
// ---------------------------
.app {
	background-image: url(../images/background.jpg);
	background-position: center center;
	background-size: cover;
}
.modal-wrap {
	.character-image {
		position: fixed;
	}
	.character-description {
		margin-left: 200px;
	}
}