<div class="legacy-character-select-wrapper">
	<div class="legacy-character-select">
		<h6>View Legacy Characters</h6>
		<ul class="character-list"></ul>
		<a href="#" class="btn btn-hide">Hide</a>
	</div>
</div>