<div class="toggle-menu">
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
<div class="main-menu">
    <ul class="menu-links">
        <li class="menu-link">
            <a href="http://defineyourlegacy.com/downloads/character-sheet.pdf" target="_blank">Character Sheet</a>
        </li>
        <li class="menu-link">
            <a href="http://forums.defineyourlegacy.com/" target="_blank">Forums</a>
        </li>
        <li class="menu-link">
            <a href="/chronicle/">Chronicle</a>
        </li>
        <li class="menu-link">
            <a href="/company/">Company</a>
        </li>
        <li class="menu-link">
            <a href="/patch-notes/">Updates</a>
        </li>
    </ul>
</div>
