<div class="main-menu">
    <ul class="menu-links">
        <li class="menu-link">
            <a href="/">Character Sheet</a>
            <a href="/">Forums</a>
            <a href="/">Game Overiew</a>
            <a href="/">Company</a>
        </li>
    </ul>
</div>
