<div class="modal-wrap element3 is-hidden">
    <div class="modal-inner">
        <h1>{{title}}</h1>
        <a href="/" class="btn btn-close"><img src="../../images/close.png"></a>
        <div class="modal-content">
            <div class="story-image">
                <img src="/images/characters/{{img}}">
            </div>
            <div class="story-description">
                <h4>Story:</h4>
                {{#each story}}
                    <p>{{paragraph}}</p>
                {{/each}}
            </div>
            <div class="chronicle-return">
                <a href="/chronicle" class="story-to-chronicle">Back to Chronicle</a>
            </div>
        </div>
    </div>
</div>
