<div class="modal-wrap element3 is-hidden">
    <div class="modal-inner">
        <h1>Chronicle</h1>
        <a href="/" class="btn btn-close"><img src="../images/close.png"></a>
        <div class="modal-content">
            <div class="chronicle-header">
                <p>This is the chronicle content!</p>
            </div>
            <div class="chronicle-nav">
                <ul>
                    <li>
                        <a href="#" title="">Story 1</a>
                    </li>
                    <li>
                        <a href="#" title="">Story 1</a>
                    </li>
                    <li>
                        <a href="#" title="">Story 1</a>
                    </li>
                </ul>
            </div>
            <div class="chronicle-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
        </div>
    </div>
</div>