<div class="modal-wrap element3 is-hidden">
	<div class="modal-inner">
		<h1>Company</h1>
		<a href="/" class="btn btn-close"><img src="../images/close.png"></a>
		<div class="modal-content">
			<p>
				Focusing on the infinite creative space that exists between any two players, Interactive Dominion delivers unique player-driven experiences. 
			</p>

			<p>
				More accurately, Interactive Dominion grants players opportunities, opportunities to explore the realms of their own imaginations within the frame of the game. Every group, every moment, and every context are different. Where others might stifle this flame, forcing a linear path or over-scripted scenario, Interactive Dominion encourages Players to explore this amazing space: the resonant creativity of people working together. 
			</p>
			<p>
				Speaking of people, Interactive Dominion has enjoyed the cool and creative communities within Austin, Texas since 2013. Speaking of speaking people, feel free to muse upon some parting thoughts. 
			</p>			
				
			<blockquote>
				“Aspire to Inspire before you Expire!” 
				<br> 
				– Eugene Bell, Jr.
			</blockquote>	

			<blockquote>
				“Don’t let what you can’t do stop you from doing what you can do.”
				<br>
				 – John Wooden 
			</blockquote>
			<blockquote>
				“The knack of flying is learning how to throw yourself at the ground and miss.”
				<br>
				– Douglas Adams, Hitchhiker’s Guide to the Galaxy
			</blockquote>
			<blockquote>
				“Fiction reveals truths that reality obscures.”
				<br>
				– Jessamyn West
			</blockquote>
			<blockquote>
				“There is a fine line between dreams and reality, it’s up to you to draw it.”
				<br>
				– B. Quilliam
			</blockquote>
			<blockquote>
				"You <em>Define Your Legacy</em>"
				<br>
				 – Geoffrey Kuhns, founder of Interactive Dominion
			</blockquote>
		</div>
	</div>
</div>