<div class="modal-wrap element3 is-hidden">
	<div class="modal-inner">
		<h1>Updates</h1>
		<a href="/" class="btn btn-close"><img src="../images/close.png"></a>
		<div class="modal-content">
			<p>
				Interactive Dominion continues to test this experience. See the Forums for the latest tips, tricks, and insight.
			</p>
			<p>
		    Please direct questions and comments to <a href="mailto:anarbiter@defineyourlegacy.com">anarbiter@defineyourlegacy.com</a> or you may mail them to:<br>
				<address class="address">
			    9218 Balcones Club Drive<br>
			    Austin, TX 78750<br>
			    USA
			  </address>
			</p>
		</div>
	</div>
</div>
