<div class="modal-wrap element3 is-hidden">
	<div class="modal-inner">
		<h1>{{title}}</h1>
		<a href="/" class="btn btn-close"><img src="../images/close.png"></a>
		<div class="modal-content">
			<div class="character-image">
				<img src="/images/characters/{{imgThumb}}">
				<a href="#" class="character-sheet">{{characterSheet}}</a>
			</div>
			<div class="character-description">
				<h4>Description:</h4>
				<p>{{journal}}</p>
			</div>
		</div>
	</div>
</div>
