<div class="modal-wrap element3 is-hidden">
    <div class="modal-inner">
        <h1>Chronicle</h1>
        <a href="/" class="btn btn-close"><img src="../images/close.png"></a>
        <div class="modal-content">
            <div class="chronicle-header">
                <p>Legacy roleplaying games feature a high-octane, sci-fantasy universe where you <em>Define Your Legacy</em> in a player-driven experience limited only by your imagination.</p>

                <p>These stories chronicle the events of a few of Ocost's most prominent characters.</p>
            </div>
            <div class="chronicle-item">
                <div class="chronicle-avatar">
                    <img src="/images/chronicle/lerykaz.jpg" alt="Lerykaz">
                </div>
                <div class="chronicle-nav">
                    <h4 class="chronicle-nav-title">Lerykaz</h4>
                    <ul>
                        <li>
                            <a href="/chronicle/starlight/" title="Lerykaz story Starlight">Starlight</a>
                        </li>
                        <li>
                            <a href="/chronicle/tea/" title="Lerykaz story Tea">Tea</a>
                        </li>
                        <li>
                            <a href="/chronicle/screams/" title="Lerykaz story Screams">Screams</a>
                        </li>
                        <li>
                            <a href="/chronicle/home/" title="Lerykaz story Home">Home</a>
                        </li>
                        <li>
                            <a href="/chronicle/visit/" title="Lerykaz story Visit">Visit</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chronicle-item">
                <div class="chronicle-avatar">
                    <img src="/images/chronicle/methkog.jpg" alt="Methkog">
                </div>
                <div class="chronicle-nav">
                    <h4 class="chronicle-nav-title">Methkog</h4>
                    <ul>
                        <li>
                            <a href="/chronicle/young/" title="Methkog story Young">Young</a>
                        </li>
                        <li>
                            <a href="/chronicle/blood/" title="Methkog story Blood">Blood</a>
                        </li>
                        <li>
                            <a href="/chronicle/city/" title="Methkog story City">City</a>
                        </li>
                        <li>
                            <a href="/chronicle/rounds/" title="Methkog story Rounds">Rounds</a>
                        </li>
                        <li>
                            <a href="/chronicle/bunker/" title="Methkog story Bunker">Bunker</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chronicle-item">
                <div class="chronicle-avatar">
                    <img src="/images/chronicle/paarbo.jpg" alt="Palanti-aarbo">
                </div>
                <div class="chronicle-nav">
                    <h4 class="chronicle-nav-title">Palanti-aarbo</h4>
                    <ul>
                        <li>
                            <a href="/chronicle/plummet/" title="Palanti-aarbo story Plummet">Plummet</a>
                        </li>
                        <li>
                            <a href="/chronicle/worship/" title="Palanti-aarbo story Worship">Worship</a>
                        </li>
                        <li>
                            <a href="/chronicle/casino/" title="Palanti-aarbo story Casino">Casino</a>
                        </li>
                        <li>
                            <a href="/chronicle/pears/" title="Palanti-aarbo story Pears">Pears</a>
                        </li>
                        <li>
                            <a href="/chronicle/itch/" title="Palanti-aarbo story Itch">Itch</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chronicle-item">
                <div class="chronicle-avatar">
                    <img src="/images/chronicle/seszil.jpg" alt="Seszil">
                </div>
                <div class="chronicle-nav">
                    <h4 class="chronicle-nav-title">Seszil</h4>
                    <ul>
                        <li>
                            <a href="/chronicle/walk/" title="Seszil story Walk">Walk</a>
                        </li>
                        <li>
                            <a href="/chronicle/sliver/" title="Seszil story Sliver">Sliver</a>
                        </li>
                        <li>
                            <a href="/chronicle/lean/" title="Seszil story Lean">Lean</a>
                        </li>
                        <li>
                            <a href="/chronicle/dust/" title="Seszil story Dust">Dust</a>
                        </li>
                        <li>
                            <a href="/chronicle/wrong/" title="Seszil story Wrong">Wrong</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
