<div class="modal-wrap element3 is-hidden">
    <div class="modal-inner">
        <h1>Chronicle</h1>
        <a href="/" class="btn btn-close"><img src="../images/close.png"></a>
        <div class="modal-content">
            <div class="chronicle-header">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            </div>
            <div class="chronicle-item">
                <div class="chronicle-avatar">
                    <img src="/images/characters/xakovi-thumb.png" alt="">
                </div>
                <div class="chronicle-nav">
                    <h4 class="chronicle-nav-title">select short story</h4>
                    <ul>
                        <li>
                            <a href="/chronicle/story-1/" title="">Story 1</a>
                        </li>
                        <li>
                            <a href="/chronicle/story-2/" title="">Story 2</a>
                        </li>
                        <li>
                            <a href="/chronicle/story-3/" title="">Story 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>