<div class="modal-wrap element3 is-hidden">
	<div class="modal-inner">
		<h1>Game Overview</h1>
		<a href="/" class="btn btn-close"><img src="../images/close.png"></a>
		<div class="modal-content">
			<p>
				Once beaten to the brink of destruction, elemental ravagers known as the Spawn rise again to threaten the artificial solar system of Ocost.
			</p> 
			<p>
				Scrambling to prepare the best ways they know how, few species are united. Most seize what they can to strengthen their positions. Unfortunately for all, this means war.
			</p>
			<p>
				Where do you stand? Will you help or hinder each species? Will you vindicate or vanquish those who search for ancient secrets? Whatever your method, hopefully you can uncover our saving truth and stand strong against the coming storm.
			</p>
			<p>
				Brave a scenario which introduces this high-octane, sci-fantasy universe to <em>Define Your Legacy</em> in a player-driven experience limited only by your imagination.
			</p> 
		</div>
	</div>
</div>