//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn {
    display: inline-block;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    -webkit-font-smoothing: antialiased;
    color: $black;

    &:hover {}

    &:focus {
        outline: none;
    }

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}
    
    &.btn-close {
        position: absolute;
        right: 1em;
        top: 1em;
        color: $white;
    }

}
