//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn {
    display: inline-block;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    -webkit-font-smoothing: antialiased;
    color: $black;

    &:hover {}

    &:focus {
        outline: none;
    }

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}
    
    &.btn-close {
        position: absolute;
        right: 1em;
        top: 1.5em;
        color: $white;
        img {
            height: 30px;
        }
    }
    &.btn-hide {
        display: block;
        position: absolute;
        bottom: -28px;
        box-shadow: inset 1px 1px 10px #000;
        text-transform: uppercase;
        background: rgba($black, 0.7);
        padding: .3em 2em;
        font-size: 1.2em;
        right: 0;
        color: $white;
        &:hover {
            text-decoration: none;
        }
    }
    &.btn-show {
        position: absolute;
        bottom: 0px;
        padding: .5em 6em;
        line-height: 1;
        color: $white;
        box-shadow: inset 1px 1px 10px #000;
        text-transform: uppercase;
        background: rgba($black, 0.7);
        text-align: center;

        @extend %horizontal-center;
        @extend %transition-all-slow;
        &:hover {
            text-decoration: none;
        }
    }
}
