//
// 992 Breakpoint
// ---------------------------
.header {
	width: 100%;
	margin: 0 auto;
	padding: 2em 0 0 22%;
	border-radius: 10px;
	text-align: left;

	background: url(../images/header-bg-desktop.png) no-repeat left;
	background-size: 100% 100%;
	color: $white;

	.logo {
		display: inline-block;
		text-align: center;
		padding-top: 30px;
		.legacy {
			// font-family: $vanHelsing;
		}
	}
	#region-main-menu {
		display: inline-block;
		width: 70%;
	}
	.main-menu {
		float: right;
		bottom: 27px;
		top: auto;
		position: relative;
		width: auto;
		height: auto;
		background-color: transparent;
		transform: translate3d(0, 0, 0);

		ul {
			margin: 0;
		}

		li {
			display: inline-block;
			margin: 0;
		}
		a {
			padding: .5em .7em;
			font-size: 1.5em;
			color: $white;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.toggle-menu {
		display: none;
	}
}
